
        </div>
      </div>
    </div><!-- /.container -->
    <br><br><br>
    <hr>
    
    <!-- FOOTER -->
<div class="footer">
  <div id="button"></div>
<div id="container">
<div id="cont">
<div class="footer_center">
	   <h3>&copy; 2020 CoffeeHouse ~MadaPas~</h3>
</div>
</div>
</div>
</div>
<%- include("./helpers/scripts.ejs") %>


  </body>
</html>